@import url('https://fonts.googleapis.com/css2?family=Lobster&family=EB Garamond:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* change the values below to your colors from your palette */
  --primary-color: #1E2761;
  --secondary-color: #408EC6;
  --accent1-color: #461229;
  --accent2-color: #a5205c;

  /* change the values below to your chosen font(s) */
  --heading-font: "Noto Sans Symbols", "IM Fell French Canon SC";
  --paragraph-font: "Times New Roman", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: var(--accent1-color);
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
  }

body {
    font-family: var(--paragraph-font);
}

main {
    padding-top: 50px;
    max-width: 100vw;
}


body {
    background-color: var(--secondary-color);
    font-family: var(--paragraph-font);
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
}

header nav {
    grid-column: 2;
    display: grid;
    width: 100%;
    height: 80%;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

header nav a {
    grid-row: 1;
    color: var(--secondary-color);
    text-decoration:none;
    width: max(50%, auto);
    height: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    padding: 0 10px;
}

header nav a:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}


footer div {
    justify-content: center;
    align-content: center;
    font-family: var(--heading-font);
    font-size: 2vw;
    background-color: var(--accent1-color);
    color:var(--secondary-color);
    height: 3em;
    width: 12.18vw;
    text-align: center;
}

footer div a {
    color: var(--secondary-color);
    text-decoration:none;
    width: 10vw;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 2.5vw
}

footer div a:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

h1 {
    text-align: center;
    padding: 5vw 0;
    font-family: var(--heading-font);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    white-space:pre-wrap;
    padding: 5vw 10vw;
    font-size: 1.5em;
    line-height: 2em;
}

#name {
    width: 15vw;
}

#family-photo {
    width: 75vw;
    height: auto;
}

#home {
    color: var(--accent1-color);
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}